# frontend
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/prompt_hub/.env.local

# server
server/node_modules/
server/python_modules/
server/.venv/
server/venv/
server/.motia/
server/.mermaid/
server/dist/
server/*.pyc